<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="css/ionic.css">
<link rel="stylesheet" type="text/css" href="css/Mobile.css">
</head>
<script src="js/ionic.bundle.min.js"></script>
<script src="js/bindonce.min.js"></script>
<script src="js/quick-ng-repeat.js"></script>
<body>
<div class="send-mes-box common-box">
    <div class="input-box">
        <textarea placeholder="想说点什么"></textarea>
    </div>
    <div class="img-box">
        <ul class="img-list">
            <li class="img-item">
                <a href="">
                    <img src="images/mo-img1.jpg" alt="" /></a></li>
            <li class="img-item">
                <a href="">
                    <img src="images/mo-img1.jpg" alt="" /></a></li>
            <li class="img-item">
                <a href="">
                    <img src="images/mo-img1.jpg" alt="" /></a></li>
            <li class="img-item">
                <a href="">
                    <img src="images/mo-img1.jpg" alt="" /></a></li>
        </ul>
    </div>

    <div class="select-box">
        <a class="dis-color" href="">所有人可见</a>
    </div>
    <div class="button-bar bar-dark bar-bottom">
        <a class="button" ng-click=""><i class="ion-happy"></i></a>
        <a class="button" ng-click=""><i class="ion-image"></i></a>
        <a class="button" ng-click="openCamera()"><i class="ion-camera"></i></a>
        <a class="button" ng-click="openCamera()"><i class="ion-at"></i></a>
    </div>
</div>
</body>
</html>
